USE [Restaurantes]
GO
/****** Object:  Table [dbo].[ItemDestacado]    Script Date: 07/11/2020 17:18:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ItemDestacado](
	[ItemDestacadoId] [int] IDENTITY(1,1) NOT NULL,
	[RestauranteId] [int] NULL,
	[Descripcion] [varchar](100) NOT NULL,
	[Foto] [varbinary](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ItemDestacadoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Restaurante]    Script Date: 07/11/2020 17:18:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Restaurante](
	[RestauranteId] [int] IDENTITY(1,1) NOT NULL,
	[NombreRestaurante] [varchar](100) NOT NULL,
	[Logo] [varbinary](max) NULL,
	[HoraApertura] [varchar](10) NOT NULL,
	[HoraCierre] [varchar](10) NOT NULL,
	[Votos] [int] NULL,
 CONSTRAINT [PK__Restaura__AAF3667BCB3A52B6] PRIMARY KEY CLUSTERED 
(
	[RestauranteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RestauranteVotaciones]    Script Date: 07/11/2020 17:18:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RestauranteVotaciones](
	[VotoId] [int] IDENTITY(1,1) NOT NULL,
	[FechaVoto] [datetime] NULL DEFAULT (getdate()),
	[RestauranteId] [int] NULL,
	[Rating] [smallint] NULL,
PRIMARY KEY CLUSTERED 
(
	[VotoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 07/11/2020 17:18:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Usuario](
	[UsuarioId] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Correo] [varchar](100) NOT NULL,
	[Password] [varchar](100) NOT NULL,
	[Rol] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UsuarioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[ItemDestacado] ON 

SET IDENTITY_INSERT [dbo].[ItemDestacado] OFF
SET IDENTITY_INSERT [dbo].[Restaurante] ON 

SET IDENTITY_INSERT [dbo].[Restaurante] OFF
SET IDENTITY_INSERT [dbo].[RestauranteVotaciones] ON 

INSERT [dbo].[RestauranteVotaciones] ([VotoId], [FechaVoto], [RestauranteId], [Rating]) VALUES (1, CAST(N'2020-11-07 11:37:25.497' AS DateTime), 6, 3)
INSERT [dbo].[RestauranteVotaciones] ([VotoId], [FechaVoto], [RestauranteId], [Rating]) VALUES (2, CAST(N'2020-11-07 11:37:33.623' AS DateTime), 5, 4)
INSERT [dbo].[RestauranteVotaciones] ([VotoId], [FechaVoto], [RestauranteId], [Rating]) VALUES (3, CAST(N'2020-11-07 11:37:38.423' AS DateTime), 7, 4)
SET IDENTITY_INSERT [dbo].[RestauranteVotaciones] OFF
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([UsuarioId], [Nombre], [Correo], [Password], [Rol]) VALUES (1, N'sergio flores', N'sergio@mail.com', N'1234', 1)
SET IDENTITY_INSERT [dbo].[Usuario] OFF
ALTER TABLE [dbo].[ItemDestacado]  WITH CHECK ADD  CONSTRAINT [FK__ItemDesta__Resta__182C9B23] FOREIGN KEY([RestauranteId])
REFERENCES [dbo].[Restaurante] ([RestauranteId])
GO
ALTER TABLE [dbo].[ItemDestacado] CHECK CONSTRAINT [FK__ItemDesta__Resta__182C9B23]
GO
ALTER TABLE [dbo].[RestauranteVotaciones]  WITH CHECK ADD  CONSTRAINT [FK__Restauran__Resta__15502E78] FOREIGN KEY([RestauranteId])
REFERENCES [dbo].[Restaurante] ([RestauranteId])
GO
ALTER TABLE [dbo].[RestauranteVotaciones] CHECK CONSTRAINT [FK__Restauran__Resta__15502E78]
GO
/****** Object:  Trigger [dbo].[ActualizarCantVotos]    Script Date: 07/11/2020 17:18:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create trigger [dbo].[ActualizarCantVotos] on [dbo].[RestauranteVotaciones] for insert
as
begin
declare @idrestaurante int,@cantidadVotos int

select @idrestaurante = RestauranteId from inserted
select @cantidadVotos = Votos from Restaurante where RestauranteId = @idrestaurante
update Restaurante set Votos = @cantidadVotos+1 where RestauranteId = @idrestaurante
end
GO
